/* utils */
.containerFull { width: 100%; box-sizing: border-box; }

.row { display: flex; }

.col { display: flex; flex-direction: column; }

.between { justify-content: space-between; }

.itemsStart { align-items: flex-start; }

.itemsCenter { align-items: center; }

.gapXs { gap: .4rem; }

.gapSm { gap: .75rem; }

.pxLg { padding-left: 3rem; padding-right: 3rem; }

.pyLg { padding-top: 2rem; padding-bottom: 2rem; }

/* texto claro sobre fundo escuro */
.onDark { color: #fefcf9; }

/* espaço para navbar */
.withNavOffset {
  margin-top: var(--nav-h);
}

.withNavOffsetPadding {
  padding-top: var(--nav-h);
}

.mainWithNavOffset {
  min-height: 100dvh;
  margin-top: var(--nav-h);
}

.appShell {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mainGrow {
  flex: 1;
  display: block;
}